<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of Pet Owners</title>
</head>
<body>
    <h1>List of Pet Owners</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}"></td>
                <td th:text="${owner.firstName}"></td>
                <td th:text="${owner.lastName}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
