<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8"/>
    <title>List of Pet Owners</title>
</head>
<body>
    <h2>List of Pet Owners</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 150px;">Id</th>
                <th style="width: 150px;">First name</th>
                <th style="width: 150px;">Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}"></td>
                <td th:text="${owner.firstName}"></td>
                <td th:text="${owner.lastName}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
